.slider-Activity{
    padding-top: 6rem;
    .carousel{
        .carousel-item{
            img{
                height: 30em;
            }
        }
    }
   
}
.marqee{
    font-family: "Noto Kufi Arabic";
    h2{
        text-align: center;
        font-weight: bold;
        color: red;
        margin-block: 1rem;
    }
    img{
        width: 200px;
        height: 10;
        margin-right: 100px;
    }
}
.swiperDate{
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}
.map{
    .map-container{
        display: flex;
        justify-content: center;
        iframe{
           width: 100%;
        }
    }
}
